@{
    ViewData["Title"] = "Home Page";
}



<h2>Welcome to AstroPod</h2>
<div class="welcome text-center">
    <img src="~/images/sphere.gif" />
    <div class="btn-lg btn btn-danger">@Html.ActionLink("Register", "Register", "Account")</div>

    <div class="btn-lg btn btn-success">@Html.ActionLink("Log in", "Login", "Account")</div>
</div>
