@{
    ViewData["Title"] = "Home Page";
}



<h2>WOOT</h2>

<div class="btn-lg btn btn-danger">@Html.ActionLink("Register", "Register", "Account")</div>
<br />
<br />
<div class="btn-lg btn btn-success">@Html.ActionLink("Log in", "Login", "Account")</div>