@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@model IEnumerable<AstroPod.Models.AppUser>


<h1>@ViewBag.User.UserName's AstroDB</h1>



<div class="content">
    @if (User.IsInRole("Admin"))
    {
        <ul>
            @foreach (var astro in Model)
            {


                <h2>Username: @Html.DisplayFor(modelItem => astro.UserName)</h2>



            }
        </ul>
    }

