@{
    ViewData["Title"] = "Add Inventory Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using AstroPod.Models
@model Comment

<br>
<h2>Add a New Comment</h2>
<br />
@using (Html.BeginForm("New", "Comment", FormMethod.Post))
{
    <div class="row">
        @Html.LabelFor(item => item.TextBody)
        @Html.TextBoxFor(item => item.TextBody)
    </div>
    <br />
    <br />
    <br />

    <input type="submit" value="Add" class="btn-lg btn-success" />
}

